# emacs backup files
**/*~

# macOS finder folder-level attributes
**/.DS_store
.idea

# ipython notebook checkpoints
**/.ipynb_checkpoints

# R history files
**/.Rhistory

# cache files
**/.web_cache

# config.json
**/config*.json

code/UI/OpenAPI/python-flask-server/openapi_server/flask_config.json

code/config.domain

code/ARAX/KnowledgeSources/db_versions.json
