--index-url https://pypi.python.org/simple/
requests-cache
pandas
neo4j-driver
numpy
ipython-cypher
networkx
pronto
lxml
mygene
nltk
# nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('punkt')
# TODO: I may be missing a few nltk packages