--index-url https://pypi.python.org/simple/
requests-cache
pandas
neo4j-driver
numpy
ipython-cypher
networkx
pronto
lxml
mygene
beautifulsoup4
nltk
# nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('punkt')
# nltk.download('stopwords')
# TODO: I may be missing a few nltk packages
sqlalchemy
scipy
scikit-learn
connexion
#'connexion[swagger-ui]'
pymysql
requests
CacheControl
lockfile
simple-crypt
tomark
md-toc
pickledb
git+https://github.com/biothings/biothings_explorer#egg=biothings_explorer
pytest