swagger: "2.0"
info:
  description: "OpenAPI for RTX"
  version: "1.1.0"
  title: "RTX"
  contact:
    email: "edeutsch@systemsbiology.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "rtx.ncats.io"
basePath: "/api/rtx/v1"
externalDocs:
  description: "Documentation for the RTX web service"
  url: "http://rtx.ncats.io/overview.html"
tags:
- name: "translate"
  description: "Translate natural language question into a standardized query"
  externalDocs:
    description: "Documentation for the RTX translate function"
    url: "http://rtx.ncats.io/overview.html#translate"
- name: "query"
  description: "Query RTX using a predefined question type"
  externalDocs:
    description: "Documentation for the RTX query function"
    url: "http://rtx.ncats.io/overview.html#query"
- name: "getPubMedMeSHNGD"
  description: "Query to get the Normalized Google Distance between two MeSH terms based on co-occurance in all PubMed article annotations"
  externalDocs:
    description: "Documentation for the RTX query function"
    url: "http://rtx.ncats.io/overview.html#getPubMedMeSHNGD"
schemes:
- "http"
paths:
  /translate:
    post:
      tags:
      - "translate"
      summary: "Translate natural language question into a standardized query"
      description: ""
      operationId: "translate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Question object that needs to be translated"
        required: true
        schema:
          $ref: "#/definitions/Question"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Query"
        400:
          description: "Invalid status value"
      x-swagger-router-controller: "swagger_server.controllers.translate_controller"
  /query:
    post:
      tags:
      - "query"
      summary: "Query RTX using a predefined question type"
      description: ""
      operationId: "query"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Query information to be submitted"
        required: true
        schema:
          $ref: "#/definitions/Query"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Response"
        400:
          description: "Invalid status value"
      x-swagger-router-controller: "swagger_server.controllers.query_controller"
  /getPubMedMeSHNGD/{term1}/{term2}:
    get:
      tags:
      - "getPubMedMeSHNGD"
      summary: "Query to get the Normalized Google Distance between two MeSH terms based on co-occurance in all PubMed article annotations"
      description: ""
      operationId: "getPubMedMeSHNGD"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "term1"
        description: "First of two terms. Order not important."
        required: true
        type: "string"
      - in: "path"
        name: "term2"
        description: "Second of two terms. Order not important."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/MeshNgdResponse"
        400:
          description: "Invalid terms"
      x-swagger-router-controller: "swagger_server.controllers.getpubmedmeshngd_controller"
definitions:
  Question:
    type: "object"
    properties:
      text:
        type: "string"
        example: "what genetic conditions offer protection against malaria"
        description: "Free text question"
      language:
        type: "string"
        example: "English"
        description: "Human language in which the question is posed"
        enum:
        - "English"
  Query:
    type: "object"
    properties:
      originalQuestion:
        type: "string"
        example: "what genetic conditions offer protection against malaria"
        description: "Original question as it was typed in by the user"
      restatedQuestion:
        type: "string"
        example: "Which genetic conditions may offer protection against malaria?"
        description: "Restatement of the question as understood by the translator"
      message:
        type: "string"
        example: "Sorry, RTX was not able to understand your question."
        description: "Response from the translation engine to the user"
      knownQueryTypeId:
        type: "string"
        example: "Q1"
        description: "RTX identifier for the specific query type"
      terms:
        type: "array"
        description: "Ordered list of terms needed by the specific query type"
        items:
          type: "string"
          example: "malaria"
  Response:
    type: "object"
    properties:
      context:
        type: "string"
        example: "http://translator.ncats.io"
        description: "JSON-LD context URI"
      type:
        type: "string"
        example: "medical_translator_query_result"
        description: "Entity type of this response"
      id:
        type: "string"
        example: "http://rtx.ncats.io/api/v1/response/1234"
        description: "URI for this response"
      tool_version:
        type: "string"
        example: "RTX 0.4.0"
        description: "Version label of the tool that generated this response"
      schema_version:
        type: "string"
        example: "0.5"
        description: "Version label of this JSON-LD schema"
      datetime:
        type: "string"
        example: "2018-01-09 12:34:45"
        description: "ISO standard datetime string for the time that this response was generated"
      original_question_text:
        type: "string"
        example: "what proteins are affected by sickle cell anemia"
        description: "The original question text typed in by the user"
      restated_question_text:
        type: "string"
        example: "Which proteins are affected by sickle cell anemia?"
        description: "A precise restatement of the question, as understood by the Translator, for which the answer applies. The user should verify that the restated question matches the intent of their original question (it might not)."
      result_code:
        type: "string"
        example: "OK"
        description: "Set to OK for success, or some other short string to indicate and error (e.g., KGUnavailable, TermNotFound, etc.)"
      message:
        type: "string"
        example: "1 answer found"
        description: "Extended message denoting the success or mode of failure for the response"
      result_list:
        type: "array"
        items:
          $ref: "#/definitions/Result"
  Result:
    type: "object"
    description: "One of potentially several results or answers for a query"
    properties:
      id:
        type: "string"
        example: "http://rtx.ncats.io/api/v1/response/1234/result/2345"
        description: "URI for this response"
      text:
        type: "string"
        example: "The genetic condition sickle cell anemia may provide protection\
          \ from cerebral malaria via genetic alterations of proteins HBB (P68871)\
          \ and HMOX1 (P09601)."
        description: "A free text description or comment from the reasoner about this answer"
      confidence:
        type: "number"
        format: "float"
        example: 0.9234
        description: "Confidence metric for this result, a value 0.0 (no confidence) and 1.0 (highest confidence)"
      result_graph:
        $ref: "#/definitions/Result_graph"
  Result_graph:
    type: "object"
    description: "A thought graph associated with this result. This will commonly be a linear path subgraph from one concept to another, but related items aside of the path may be included."
    properties:
      node_list:
        type: "array"
        items:
          $ref: "#/definitions/Node"
      edge_list:
        type: "array"
        items:
          $ref: "#/definitions/Edge"
  Node:
    type: "object"
    description: "A node in the thought subgraph"
    properties:
      type:
        type: "string"
        example: "protein"
        description: "Entity type of this node (e.g., protein, disease, etc.)"
      id:
        type: "string"
        example: "https://www.uniprot.org/uniprot/P00738"
        description: "URI identifier for this response"
      symbol:
        type: "string"
        example: "HP"
        description: "Short abbreviation or symbol for this entity"
      name:
        type: "string"
        example: "Haptoglobin"
        description: "Formal name of the entity"
      accession:
        type: "string"
        example: "OMIM:603903"
        description: "Accession number in an external resource for this entity"
      description:
        type: "string"
        example: "Haptoglobin captures, and combines with free plasma hemoglobin..."
        description: "One to three sentences of description/definition of this entity"
      node_attributes:
        type: "array"
        description: "A list of arbitrary attributes for the node"
        items:
          $ref: "#/definitions/Node_attribute"
  Node_attribute:
    type: "object"
    description: "A generic attribute for a node"
    properties:
      type:
        type: "string"
        example: "article"
        description: "Entity type of this attribute"
      name:
        type: "string"
        example: "Wikipedia article"
        description: "Formal name of the attribute"
      value:
        type: "string"
        example: "7.23e-12"
        description: "Value of the attribute"
      url:
        type: "string"
        example: "https://en.wikipedia.org/wiki/Malaria"
        description: "A URL corresponding to this attribute"
  Edge:
    type: "object"
    description: "An edge in the thought subgraph linking two nodes"
    properties:
      type:
        type: "string"
        example: "affects"
        description: "Entity type of this response"
      source_id:
        type: "string"
        example: "http://omim.org/entry/603903"
        description: "Corresponds to the @id of source node of this edge"
      target_id:
        type: "string"
        example: "https://www.uniprot.org/uniprot/P00738"
        description: "Corresponds to the @id of target node of this edge"
      confidence:
        type: "number"
        format: "float"
        example: 0.99
        description: "Confidence metric for this edge, a value 0.0 (no confidence) and 1.0 (highest confidence)"
      origin_list:
        type: "array"
        description: "A list of origins (sources) for this edge and attributes from those origins"
        items:
          $ref: "#/definitions/Origin"
  Origin:
    type: "object"
    description: "An origin (source) for this edge"
    properties:
      id:
        type: "string"
        example: "https://api.monarchinitiative.org/api/bioentity/disease/OMIM:603903/genes/"
        description: "URI for the origin of the edge"
      type:
        type: "string"
        example: "Monarch_BioLink_API_Relationship"
        description: "Entity type of the origin"
      name:
        type: "string"
        example: "Wikipedia article"
        description: "Formal name of the piece evidence that yielded the edge"
      attribute_list:
        type: "array"
        description: "A list of attributes for this edge from this origin (source)"
        items:
          $ref: "#/definitions/Edge_attribute"
  Edge_attribute:
    type: "object"
    description: "A generic attribute for an edge"
    properties:
      type:
        type: "string"
        example: "PubMed_article"
        description: "Entity type of this attribute"
      name:
        type: "string"
        example: "Orthopaedic Manifestations of Sickle Cell Disease"
        description: "Formal name of the attribute"
      value:
        type: "string"
        example: "0.5"
        description: "Value of the attribute. While all attributes should have a name, many will not have a value"
      url:
        type: "string"
        example: "https://www.ncbi.nlm.nih.gov/pubmed/29309293"
        description: "A URL corresponding to this attribute"
  MeshNgdResponse:
    type: "object"
    properties:
      result_code:
        type: "string"
        example: "TermNotFound"
        description: "Set to OK for success, or some other short string to indicate and error (e.g., TermNotFound, etc.)"
      message:
        type: "string"
        example: "Term 1 'malria' not found in MeSH"
        description: "Extended message denoting the success or mode of failure for request"
      value:
        type: "number"
        format: "float"
        description: "Calculated Normalized Google Distance for the two supplied terms"
        example: 0.714
