openapi: 3.0.1
info:
  contact:
    email: edeutsch@systemsbiology.org
  description: OpenAPI for NCATS Biomedical Translator Reasoners
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI for NCATS Biomedical Translator Reasoners
  version: 0.9.0
externalDocs:
  description: Documentation for the NCATS Biomedical Translator Reasoners web services
  url: https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI
servers:
- description: RTX Translator Reasoner API
  url: https://rtx.ncats.io/devED/api/rtx/v1
tags:
- description: Query reasoner using a predefined question type
  externalDocs:
    description: Documentation for the reasoner query function
    url: https://rtx.ncats.io/devED/overview.html#query
  name: query
- description: Obtain or send feedback information
  externalDocs:
    description: Documentation for the reasoner feedback function
    url: https://rtx.ncats.io/devED/overview.html#feedback
  name: feedback
- description: Request stored messages and feedback for messages
  externalDocs:
    description: Documentation for the reasoner message function
    url: https://rtx.ncats.io/devED/overview.html#message
  name: message
- description: Request stored results and feedback for results
  externalDocs:
    description: Documentation for the reasoner result function
    url: https://rtx.ncats.io/devED/overview.html#result
  name: result
- description: Translate natural language question into a standardized query
  externalDocs:
    description: Documentation for the reasoner translate function
    url: https://rtx.ncats.io/devED/overview.html#translate
  name: translate
- description: Return identifier and type of some entity in the knowledge graph
  externalDocs:
    description: Documentation for the reasoner entity function
    url: https://rtx.ncats.io/devED/overview.html#entity
  name: entity
- description: Return data types in the knowledge graph
  externalDocs:
    description: Documentation for the reasoner types function
    url: https://rtx.ncats.io/devED/overview.html#types
  name: types
- description: Return a list of example questions that the reasoner can answer
  externalDocs:
    description: Documentation for the reasoner exampleQuestions function
    url: https://rtx.ncats.io/devED/overview.html#exampleQuestions
  name: exampleQuestions
- description: Query to get the Normalized Google Distance between two MeSH terms based on co-occurance in all PubMed article annotations
  externalDocs:
    description: Documentation for the reasoner PubmedMeshNgd function
    url: https://rtx.ncats.io/devED/overview.html#PubmedMeshNgd
  name: PubmedMeshNgd
paths:
  /PubmedMeshNgd/{term1}/{term2}:
    get:
      operationId: pubmed_mesh_ngd
      parameters:
      - description: First of two terms. Order not important.
        explode: false
        in: path
        name: term1
        required: true
        schema:
          type: string
        style: simple
      - description: Second of two terms. Order not important.
        explode: false
        in: path
        name: term2
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshNgdResponse'
          description: successful operation
        400:
          description: Invalid terms
      summary: Query to get the Normalized Google Distance between two MeSH terms based on co-occurrence in all PubMed article annotations
      tags:
      - PubmedMeshNgd
      x-swagger-router-controller: openapi_server.controllers.pubmed_mesh_ngd_controller
      x-openapi-router-controller: openapi_server.controllers.pubmed_mesh_ngd_controller
  /entity/{search_string}:
    get:
      operationId: get_entity_by_string
      parameters:
      - description: Some string to search by (name, abbreviation, CURIE, etc.)
        explode: false
        in: path
        name: search_string
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: successful operation
        404:
          description: Entity not found
      summary: Obtain the CURIE and type of some entity by name
      tags:
      - entity
      x-swagger-router-controller: openapi_server.controllers.entity_controller
      x-openapi-router-controller: openapi_server.controllers.entity_controller
  /exampleQuestions:
    get:
      operationId: example_questions
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: successful operation
      summary: Request a list of example questions that RTX can answer
      tags:
      - exampleQuestions
      x-swagger-router-controller: openapi_server.controllers.example_questions_controller
      x-openapi-router-controller: openapi_server.controllers.example_questions_controller
  /feedback/all:
    get:
      operationId: get_feedback_all
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Feedback'
                type: array
          description: successful operation
      summary: Request a list of all feedback provided thus far
      tags:
      - feedback
      x-swagger-router-controller: openapi_server.controllers.feedback_controller
      x-openapi-router-controller: openapi_server.controllers.feedback_controller
  /feedback/expertise_levels:
    get:
      operationId: get_feedback_expertise_levels
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpertiseLevels'
          description: successful operation
      summary: Request a list of allowable expertise levels
      tags:
      - feedback
      x-swagger-router-controller: openapi_server.controllers.feedback_controller
      x-openapi-router-controller: openapi_server.controllers.feedback_controller
  /feedback/ratings:
    get:
      operationId: get_feedback_ratings
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ratings'
          description: successful operation
      summary: Request a list of allowable ratings
      tags:
      - feedback
      x-swagger-router-controller: openapi_server.controllers.feedback_controller
      x-openapi-router-controller: openapi_server.controllers.feedback_controller
  /message/{message_id}:
    get:
      operationId: get_message
      parameters:
      - description: Integer identifier of the message to return
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: successful operation
        404:
          description: Message_id not found
      summary: Request stored messages and results from reasoner
      tags:
      - message
      x-swagger-router-controller: openapi_server.controllers.message_controller
      x-openapi-router-controller: openapi_server.controllers.message_controller
  /message/{message_id}/feedback:
    get:
      operationId: get_message_feedback
      parameters:
      - description: Integer identifier of the message to return
        explode: false
        in: path
        name: message_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageFeedback'
          description: successful operation
        404:
          description: Message_id not found
      summary: Request stored feedback for this message from reasoner
      tags:
      - message
      x-swagger-router-controller: openapi_server.controllers.message_controller
      x-openapi-router-controller: openapi_server.controllers.message_controller
  /query:
    post:
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        description: Query information to be submitted
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: successful operation
        400:
          description: Invalid status value
      summary: Query reasoner via one of several inputs
      tags:
      - query
      x-swagger-router-controller: openapi_server.controllers.query_controller
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /result/{result_id}:
    get:
      operationId: get_result
      parameters:
      - description: Integer identifier of the result to return
        explode: false
        in: path
        name: result_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: successful operation
        404:
          description: result_id not found
      summary: Request stored result
      tags:
      - result
      x-swagger-router-controller: openapi_server.controllers.result_controller
      x-openapi-router-controller: openapi_server.controllers.result_controller
  /result/{result_id}/feedback:
    get:
      operationId: get_result_feedback
      parameters:
      - description: Integer identifier of the result to return
        explode: false
        in: path
        name: result_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultFeedback'
          description: successful operation
        404:
          description: result_id not found
      summary: Request stored feedback for this result
      tags:
      - result
      x-swagger-router-controller: openapi_server.controllers.result_controller
      x-openapi-router-controller: openapi_server.controllers.result_controller
    post:
      operationId: post_result_feedback
      parameters:
      - description: Integer identifier of the result to return
        explode: false
        in: path
        name: result_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Feedback'
        description: Comment information
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
          description: successful operation
        400:
          description: Invalid status value
      summary: Store feedback for a particular result
      tags:
      - result
      x-swagger-router-controller: openapi_server.controllers.result_controller
      x-openapi-router-controller: openapi_server.controllers.result_controller
  /translate:
    post:
      operationId: translate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Question'
        description: Question information to be translated
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Query'
                type: array
          description: successful operation
        400:
          description: Invalid status value
      summary: Translate natural language question into a standardized query
      tags:
      - translate
      x-swagger-router-controller: openapi_server.controllers.translate_controller
      x-openapi-router-controller: openapi_server.controllers.translate_controller
  /types/edges:
    get:
      operationId: get_all_edge_types
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        404:
          description: No types found
      summary: Obtain all possible types of edges
      tags:
      - types
      x-openapi-router-controller: openapi_server.controllers.types_controller
  /types/edges/{node_type1}/{node_type2}:
    get:
      operationId: get_node_to_node_edge_types
      parameters:
      - description: Node type 1 to filter possible edges by
        explode: false
        in: path
        name: node_type1
        required: true
        schema:
          type: string
        style: simple
      - description: Node type 2 to filter possible edges by
        explode: false
        in: path
        name: node_type2
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        404:
          description: No types found
      summary: Obtain all possible types of edges linking node_type1 and node_type2
      tags:
      - types
      x-openapi-router-controller: openapi_server.controllers.types_controller
  /types/edges/{node_type}:
    get:
      operationId: get_node_edge_types
      parameters:
      - description: Node type to filter possible edges by
        explode: false
        in: path
        name: node_type
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        404:
          description: No types found
      summary: Obtain all possible types of edges linked to a node_type
      tags:
      - types
      x-openapi-router-controller: openapi_server.controllers.types_controller
  /types/nodes:
    get:
      operationId: get_node_types
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
        404:
          description: No types found
      summary: Obtain all possible types of nodes
      tags:
      - types
      x-openapi-router-controller: openapi_server.controllers.types_controller
components:
  schemas:
    FeedbackResponse:
      example:
        detail: detail
        title: title
        type: type
        status: 0
      properties:
        detail:
          type: string
        status:
          type: integer
        title:
          type: string
        type:
          type: string
      type: object
    Ratings:
      example:
        n_ratings: 1
        ratings:
        - score: 6.027456183070403
          rating_id: 0
          name: name
          description: description
          tag: tag
        - score: 6.027456183070403
          rating_id: 0
          name: name
          description: description
          tag: tag
      properties:
        ratings:
          items:
            $ref: '#/components/schemas/Rating'
          type: array
        n_ratings:
          type: integer
      type: object
    Rating:
      example:
        score: 6.027456183070403
        rating_id: 0
        name: name
        description: description
        tag: tag
      properties:
        description:
          type: string
        rating_id:
          type: integer
        name:
          type: string
        score:
          type: number
        tag:
          type: string
      type: object
    ExpertiseLevels:
      example:
        n_expertise_levels: 1
        expertise_levels:
        - score: 6.027456183070403
          expertise_level_id: 0
          name: name
          description: description
          tag: tag
        - score: 6.027456183070403
          expertise_level_id: 0
          name: name
          description: description
          tag: tag
      properties:
        expertise_levels:
          items:
            $ref: '#/components/schemas/ExpertiseLevel'
          type: array
        n_expertise_levels:
          type: integer
      type: object
    ExpertiseLevel:
      example:
        score: 6.027456183070403
        expertise_level_id: 0
        name: name
        description: description
        tag: tag
      properties:
        description:
          type: string
        expertise_level_id:
          type: integer
        name:
          type: string
        score:
          type: number
        tag:
          type: string
      type: object
    Query:
      additionalProperties: true
      example:
        bypass_cache: "true"
        page_number: 1
        asynchronous: "false"
        query_message:
        - original_question: what proteins are affected by sickle cell anemia
          query_options:
            coalesce: true
            threshold: 0.9
          remote_knowledge_graph:
          - credentials:
            - password: password
              username: username
            - password: password
              username: username
            url: http://robokop.renci.org/devED/api/kg
          - credentials:
            - password: password
              username: username
            - password: password
              username: username
            url: http://robokop.renci.org/devED/api/kg
          n_results: 42
          restated_question: Which proteins are affected by sickle cell anemia?
          code_description: 9 results found
          type: translator_reasoner_message
          knowledge_graph:
          - nodes:
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            edges:
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
          - nodes:
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            edges:
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
          query_type_id: Q2
          query_graph:
          - nodes:
            - curie: OMIM:603903
              type: disease
              node_id: n00
            - curie: OMIM:603903
              type: disease
              node_id: n00
            edges:
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
          - nodes:
            - curie: OMIM:603903
              type: disease
              node_id: n00
            - curie: OMIM:603903
              type: disease
              node_id: n00
            edges:
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
          schema_version: 0.9.0
          datetime: 2018-01-09 12:34:45
          table_column_names:
          - chemical_substance.name
          - chemical_substance.id
          tool_version: RTX 0.5.0
          message_code: OK
          terms:
            anatomical_entity: liver
            disease: malaria
            metabolite: ibuprofen
            protein: P12345
            chemical_substance: ibuprofen
          context: https://rtx.ncats.io/ns/translator.jsonld
          reasoner_id: reasoner
          id: https://rtx.ncats.io/devED/api/rtx/v1/message/123
          results:
          - result_type: individual query answer
            result_graph:
              nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            essence: ibuprofen
            confidence: 0.9234
            description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
            essence_type: drug
            score_direction: lower_is_better
            score: 163.233
            knowledge_map:
              key: '{}'
            result_group: 1
            reasoner_id: RTX
            id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
            row_data:
            - ibuprofen
            - CHEMBL:CHEMBL521
            result_group_similarity_score: 0.95
            score_name: Jaccard distance
          - result_type: individual query answer
            result_graph:
              nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            essence: ibuprofen
            confidence: 0.9234
            description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
            essence_type: drug
            score_direction: lower_is_better
            score: 163.233
            knowledge_map:
              key: '{}'
            result_group: 1
            reasoner_id: RTX
            id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
            row_data:
            - ibuprofen
            - CHEMBL:CHEMBL521
            result_group_similarity_score: 0.95
            score_name: Jaccard distance
        - original_question: what proteins are affected by sickle cell anemia
          query_options:
            coalesce: true
            threshold: 0.9
          remote_knowledge_graph:
          - credentials:
            - password: password
              username: username
            - password: password
              username: username
            url: http://robokop.renci.org/devED/api/kg
          - credentials:
            - password: password
              username: username
            - password: password
              username: username
            url: http://robokop.renci.org/devED/api/kg
          n_results: 42
          restated_question: Which proteins are affected by sickle cell anemia?
          code_description: 9 results found
          type: translator_reasoner_message
          knowledge_graph:
          - nodes:
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            edges:
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
          - nodes:
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            - symbol: HP
              node_attributes:
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              - name: Wikipedia article
                type: article
                value: 7.23e-12
                url: https://en.wikipedia.org/wiki/Malaria
              name: Haptoglobin
              description: Haptoglobin captures, and combines with free plasma hemoglobin...
              id: OMIM:603903
              type:
              - protein
              uri: https://www.uniprot.org/uniprot/P00738
            edges:
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
            - negated: true
              evidence_type: ECO:0000220
              defined_datetime: 2018-11-03 15:34:23
              confidence: 0.99
              weight: 0.99
              qualifiers: ECO:0000220
              target_id: https://www.uniprot.org/uniprot/P00738
              type: affects
              relation: upregulates
              is_defined_by: reasoner
              edge_attributes:
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              - name: Cell type limitation
                type: localization
                value: MFC cells
                url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
              provided_by: OMIM
              id: "553903"
              source_id: https://omim.org/entry/603903
              publications:
              - PMID:12345562
          query_type_id: Q2
          query_graph:
          - nodes:
            - curie: OMIM:603903
              type: disease
              node_id: n00
            - curie: OMIM:603903
              type: disease
              node_id: n00
            edges:
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
          - nodes:
            - curie: OMIM:603903
              type: disease
              node_id: n00
            - curie: OMIM:603903
              type: disease
              node_id: n00
            edges:
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
            - negated: true
              edge_id: e00
              target_id: https://www.uniprot.org/uniprot/P00738
              source_id: https://omim.org/entry/603903
              type: affects
              relation: upregulates
          schema_version: 0.9.0
          datetime: 2018-01-09 12:34:45
          table_column_names:
          - chemical_substance.name
          - chemical_substance.id
          tool_version: RTX 0.5.0
          message_code: OK
          terms:
            anatomical_entity: liver
            disease: malaria
            metabolite: ibuprofen
            protein: P12345
            chemical_substance: ibuprofen
          context: https://rtx.ncats.io/ns/translator.jsonld
          reasoner_id: reasoner
          id: https://rtx.ncats.io/devED/api/rtx/v1/message/123
          results:
          - result_type: individual query answer
            result_graph:
              nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            essence: ibuprofen
            confidence: 0.9234
            description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
            essence_type: drug
            score_direction: lower_is_better
            score: 163.233
            knowledge_map:
              key: '{}'
            result_group: 1
            reasoner_id: RTX
            id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
            row_data:
            - ibuprofen
            - CHEMBL:CHEMBL521
            result_group_similarity_score: 0.95
            score_name: Jaccard distance
          - result_type: individual query answer
            result_graph:
              nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            essence: ibuprofen
            confidence: 0.9234
            description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
            essence_type: drug
            score_direction: lower_is_better
            score: 163.233
            knowledge_map:
              key: '{}'
            result_group: 1
            reasoner_id: RTX
            id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
            row_data:
            - ibuprofen
            - CHEMBL:CHEMBL521
            result_group_similarity_score: 0.95
            score_name: Jaccard distance
        max_results: 100
        reasoner_ids:
        - RTX
        - Robokop
        previous_message_processing_plan:
        - previous_message_uris:
          - https://rtx.ncats.io/devED/api/rtx/v1/message/300
          previous_messages:
          - original_question: what proteins are affected by sickle cell anemia
            query_options:
              coalesce: true
              threshold: 0.9
            remote_knowledge_graph:
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            n_results: 42
            restated_question: Which proteins are affected by sickle cell anemia?
            code_description: 9 results found
            type: translator_reasoner_message
            knowledge_graph:
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            query_type_id: Q2
            query_graph:
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            schema_version: 0.9.0
            datetime: 2018-01-09 12:34:45
            table_column_names:
            - chemical_substance.name
            - chemical_substance.id
            tool_version: RTX 0.5.0
            message_code: OK
            terms:
              anatomical_entity: liver
              disease: malaria
              metabolite: ibuprofen
              protein: P12345
              chemical_substance: ibuprofen
            context: https://rtx.ncats.io/ns/translator.jsonld
            reasoner_id: reasoner
            id: https://rtx.ncats.io/devED/api/rtx/v1/message/123
            results:
            - result_type: individual query answer
              result_graph:
                nodes:
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                edges:
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
              essence: ibuprofen
              confidence: 0.9234
              description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
              essence_type: drug
              score_direction: lower_is_better
              score: 163.233
              knowledge_map:
                key: '{}'
              result_group: 1
              reasoner_id: RTX
              id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
              row_data:
              - ibuprofen
              - CHEMBL:CHEMBL521
              result_group_similarity_score: 0.95
              score_name: Jaccard distance
            - result_type: individual query answer
              result_graph:
                nodes:
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                edges:
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
              essence: ibuprofen
              confidence: 0.9234
              description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
              essence_type: drug
              score_direction: lower_is_better
              score: 163.233
              knowledge_map:
                key: '{}'
              result_group: 1
              reasoner_id: RTX
              id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
              row_data:
              - ibuprofen
              - CHEMBL:CHEMBL521
              result_group_similarity_score: 0.95
              score_name: Jaccard distance
          - original_question: what proteins are affected by sickle cell anemia
            query_options:
              coalesce: true
              threshold: 0.9
            remote_knowledge_graph:
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            n_results: 42
            restated_question: Which proteins are affected by sickle cell anemia?
            code_description: 9 results found
            type: translator_reasoner_message
            knowledge_graph:
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            query_type_id: Q2
            query_graph:
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            schema_version: 0.9.0
            datetime: 2018-01-09 12:34:45
            table_column_names:
            - chemical_substance.name
            - chemical_substance.id
            tool_version: RTX 0.5.0
            message_code: OK
            terms:
              anatomical_entity: liver
              disease: malaria
              metabolite: ibuprofen
              protein: P12345
              chemical_substance: ibuprofen
            context: https://rtx.ncats.io/ns/translator.jsonld
            reasoner_id: reasoner
            id: https://rtx.ncats.io/devED/api/rtx/v1/message/123
            results:
            - result_type: individual query answer
              result_graph:
                nodes:
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                edges:
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
              essence: ibuprofen
              confidence: 0.9234
              description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
              essence_type: drug
              score_direction: lower_is_better
              score: 163.233
              knowledge_map:
                key: '{}'
              result_group: 1
              reasoner_id: RTX
              id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
              row_data:
              - ibuprofen
              - CHEMBL:CHEMBL521
              result_group_similarity_score: 0.95
              score_name: Jaccard distance
            - result_type: individual query answer
              result_graph:
                nodes:
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
                    url: https://en.wikipedia.org/wiki/Malaria
                  name: Haptoglobin
                  description: Haptoglobin captures, and combines with free plasma hemoglobin...
                  id: OMIM:603903
                  type:
                  - protein
                  uri: https://www.uniprot.org/uniprot/P00738
                edges:
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
                - negated: true
                  evidence_type: ECO:0000220
                  defined_datetime: 2018-11-03 15:34:23
                  confidence: 0.99
                  weight: 0.99
                  qualifiers: ECO:0000220
                  target_id: https://www.uniprot.org/uniprot/P00738
                  type: affects
                  relation: upregulates
                  is_defined_by: reasoner
                  edge_attributes:
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  - name: Cell type limitation
                    type: localization
                    value: MFC cells
                    url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                  provided_by: OMIM
                  id: "553903"
                  source_id: https://omim.org/entry/603903
                  publications:
                  - PMID:12345562
              essence: ibuprofen
              confidence: 0.9234
              description: The genetic condition sickle cell anemia may provide protection from cerebral malaria via genetic alterations of proteins HBB (P68871) and HMOX1 (P09601).
              essence_type: drug
              score_direction: lower_is_better
              score: 163.233
              knowledge_map:
                key: '{}'
              result_group: 1
              reasoner_id: RTX
              id: https://rtx.ncats.io/devED/api/rtx/v1/result/234
              row_data:
              - ibuprofen
              - CHEMBL:CHEMBL521
              result_group_similarity_score: 0.95
              score_name: Jaccard distance
          options:
            topNMostFrequent: 1
          processing_actions:
          - mod45filter
          - redirect2RTX
        - previous_message_uris:
          - https://rtx.ncats.io/devED/api/rtx/v1/message/300
          previous_messages:
          - original_question: what proteins are affected by sickle cell anemia
            query_options:
              coalesce: true
              threshold: 0.9
            remote_knowledge_graph:
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            - credentials:
              - password: password
                username: username
              - password: password
                username: username
              url: http://robokop.renci.org/devED/api/kg
            n_results: 42
            restated_question: Which proteins are affected by sickle cell anemia?
            code_description: 9 results found
            type: translator_reasoner_message
            knowledge_graph:
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            - nodes:
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              - symbol: HP
                node_attributes:
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                - name: Wikipedia article
                  type: article
                  value: 7.23e-12
                  url: https://en.wikipedia.org/wiki/Malaria
                name: Haptoglobin
                description: Haptoglobin captures, and combines with free plasma hemoglobin...
                id: OMIM:603903
                type:
                - protein
                uri: https://www.uniprot.org/uniprot/P00738
              edges:
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
              - negated: true
                evidence_type: ECO:0000220
                defined_datetime: 2018-11-03 15:34:23
                confidence: 0.99
                weight: 0.99
                qualifiers: ECO:0000220
                target_id: https://www.uniprot.org/uniprot/P00738
                type: affects
                relation: upregulates
                is_defined_by: reasoner
                edge_attributes:
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                - name: Cell type limitation
                  type: localization
                  value: MFC cells
                  url: https://www.ncbi.nlm.nih.gov/pubmed/29309293
                provided_by: OMIM
                id: "553903"
                source_id: https://omim.org/entry/603903
                publications:
                - PMID:12345562
            query_type_id: Q2
            query_graph:
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            - nodes:
              - curie: OMIM:603903
                type: disease
                node_id: n00
              - curie: OMIM:603903
                type: disease
                node_id: n00
              edges:
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
              - negated: true
                edge_id: e00
                target_id: https://www.uniprot.org/uniprot/P00738
                source_id: https://omim.org/entry/603903
                type: affects
                relation: upregulates
            schema_version: 0.9.0
            datetime: 2018-01-09 12:34:45
            table_column_names:
            - chemical_substance.name
            - chemical_substance.id
            tool_version: RTX 0.5.0
            message_code: OK
            terms:
              anatomical_entity: liver
              disease: malaria
              metabolite: ibuprofen
              protein: P12345
              chemical_substance: ibuprofen
            context: https://rtx.ncats.io/ns/translator.jsonld
            reasoner_id: reasoner
            id: https://rtx.ncats.io/devED/api/rtx/v1/message/123
            results:
            - result_type: individual query answer
              result_graph:
                nodes:
                - symbol: HP
                  node_attributes:
                  - name: Wikipedia article
                    type: article
                    value: 7.23e-12
[...]
