// API config
// this is an optional file that specifies alternate API settings
// if not present, then default settings in rtx.js will be used
// IMPORTANT: change filename to "config.js" for changes to take effect
let config = {};
config.base    = '';
config.baseAPI = config.base + "api/rtxkg2/v1.0";
