body {
    padding: 0px;
    margin:  0px;
    box-sizing:border-box;
    background-color:#eee;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
hr {
    border: 1px dashed #444;
}

.banner {
    position: fixed;
    width: 100%;
    min-height: 50px;
    z-index: 9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ddd;
    background-color: #040;
    background-image: url(banner.png);
}
.banner::before {
    font-size: 40px;
    left: 30px;
    top: 0px;
    position: absolute;
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    letter-spacing: -3px;
    content: attr(banner-bg-text);
    pointer-events: none;
}

.menulinks {
    position: relative;
    top:30px;
    right: 30px;
    float: right;
}
.banner a, .banner a:visited {
    text-decoration: none;
    color: #eef;
    font-weight:bold;
    padding: 55px 15px 10px 15px;
}
.banner a:hover, .banner a:active{
    text-decoration: none;
    color: #c40;
    background-color: #eee;
}
.currentpage {
    color: #c40;
    background-color: #eee;
    font-weight:bold;
    padding: 55px 15px 25px 15px;
}

.menuleft {
    z-index: 8;
    position: fixed;
    width: 150px;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    border-right: 2px solid black;
    background-color: #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;  /* Firefox */
}
.menuleftitem  {
    color: #666;
    padding: 10px;
    text-align:right;
    display:block;
    text-decoration: none;
    cursor: pointer;
}
.menuleftitem:hover {
    color: #000;
    background-color: #9bc;
}
.menucurrent {
    padding: 10px;
    text-align:right;
    display:block;
    text-decoration: none;
    color: #000;
    background-color: #eee;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
/* scrollbar for Chrome, Safari and Opera */
.menuleft::-webkit-scrollbar {
    width: 6px;
}
.menuleft::-webkit-scrollbar-thumb {
    background: #aaa;
}

.page {
    margin-left: 170px;
    margin-right: 10px;
}
.pagesection, .inputsection {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
}

.stitle {
    display: inline-block;
    margin: 0px;
    width: 430px;
    border-bottom: 2px solid black;
    text-align: center;
    margin-left: 20px;
    padding-bottom: 2px;
}

.slink {
    padding: 10px 20px;
    width: 70px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 4px solid #eee;
    cursor: pointer;
}
.slink:hover {
    box-shadow: 0 0 5px #999;
}
.slink_on {
    border-bottom: 4px solid #c40;
}

.sampleqs {
    display: inline-flex;
    position: relative;
    left: 250px;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    color: #ccc;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ddd;
}
.sampleqs:hover {
    background-color: #eee;
}
.clq {
    text-align: center;
    padding: 5px;
    margin: 0;
    color: #888;
    cursor: pointer;
}
.clq:hover {
    font-weight: bold;
    color: #eee;
    background-color: #c40;
}

.clwin {
    float: right;
    position: relative;
    top: -45px;
    right: -51px;
    height: 30px;
    width: 30px;
}
.clwin2 {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    top: -40px;
    left: 100%;
    font-weight: bold;
    font-size: 16px;
}

#dslText, #wfJSON, #jsonText, #responseText {
    width: 80%;
    height: 20em;
    overflow:scroll;
}

.qgselect:hover {
    background-color: #fff;
}

.qgselect {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    color: #ccc;
    width: 180px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #ddd;
}

.sampleqs select, .qgselect select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sampleqs select:focus, .qgselect select:focus {
    outline: none;
    background-color: #eee;
}

.statushead {
    background-color: #ccc;
    color: #000;
/*    cursor: pointer; */
    margin-top: 15px;
    padding: 4px 10px;
    max-width: 100%;
    border-top: 1px solid #444;
    border-left: 25px solid #444;
    border-right: 1px solid #444;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight:bold;
    transition: 0.1s;
}
.status {
    border-top: 1px solid #999;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    padding: 0 25px;
    background-color: #fff;
    max-width: 100%;
}
.statushead .qprob {
    font-size: 12px;
}
#logdiv {
    padding: 0px;
}

#cmdoutput {
    font-family: monospace;
    border: 1px solid #444;
    background-color: #ccd8e2;
    box-shadow: inset 4px 4px 8px 0 rgba(0,0,0,0.2), inset -4px -4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    max-width: 100%;
    height: 200px;
    overflow: auto;
}

.accordion {
    background-color: #047;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    max-width: 100%;
    border: 3px solid black;
    border-radius: 12px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.1s, border-radius 0.4s linear 0.1s;
}

.openaccordion {
    border-bottom: 0px;
    border-radius: 12px 12px 0 0;
    background-color: #9bc;
    color: #333;
    font-weight:bold;
    transition: border-radius 0.4s linear 0.1s;
}

.accordion:hover {
    background-color: #9bc;
    color: #333;
}

.accordion:before {
    content: ' \002B ';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.openaccordion:before {
    content: "\2212";
}

.r100 {
    position: absolute;
    right:100px;
}

.qprob {
    color: #fff;
    border-radius: 12px;
    border: 3px solid #fff;
    padding: 3px 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.explevel {
    color: #fff;
    border-radius: 12px;
    border: 1px solid #fff;
    padding: 1px 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.19);
}
.menunum {
    font-size: 12px;
    vertical-align: super;
    border: 1px solid;
    padding: 2px 4px;
    transition-duration: 2s;
}
.numold {
    background-color: #ddd;
    color: #444;
}
.numnew {
    background-color: #291;
    color: #fff;
    border-color: #291;
}

.progress {
    display: inline-block;
    padding: 0;
    height: 16px;
    margin-left: 15px;
    margin-top: 5px;
    width: 802px;
    border: 1px solid #000;
    background-color: #ccd8e2;
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.2), inset -2px -2px 4px 0 rgba(0,0,0,0.2);
}
.bar {
    display: inline-block;
    padding: 0;
    height: 14px;
    margin: 0;
    width: 0px;
    border: 1px solid #3d6d98;
    background-color: #5596d0;
    color: #fff;
    text-align: right;
    font-weight: bold;
    box-shadow: 4px 0px 4px 0 rgba(0,0,0,0.2);
    transition-duration: 1s;
}
.barerror {
    border: 1px solid #b00;
    background-color: #b00;
}

.loading_cell {
    display: inline-block;
    overflow: hidden;
    padding: 0;
    height: 12px;
    margin: 0;
    width: 100%;
    border: 1px solid #000;
    background-color: #ccd8e2;
}
.loading_bar {
    display: inline-block;
    background-color: #5596d0;
    border: 1px solid #3d6d98;
    width: 50%;
    height: 100%;
    animation: 1s left-right linear infinite;
}
@keyframes left-right {
    0%   { transform:translateX(-100%); }
    100% { transform:translateX(300%); }
}

.working {
    animation: 1s working ease-in-out infinite alternate;
}
@keyframes working {
    0%   { background-color: #fff; }
    100% { background-color: #f80; }
}

.p9, .msgINFO    { background-color: #291; }
.p7              { background-color: #7b4; }
.p5              { background-color: #cc5; }
.p3, .msgWARNING { background-color: #f80; }
.p1, .msgERROR   { background-color: #821; }
.p0, .msgDEBUG   { background-color: #444; }

.srtx { background-color: #5596d0; }
.sind { background-color: #4b0082; }
.srob { background-color: #333333; }
.scod { background-color: #00539f; }
.scam { background-color: #f28500; }
.suns { background-color: #337ab7; }
.sara { background-color: #c2c000; }
.simp { background-color: #98afc7; }
.sgen { background-color: #5f2c4b; }
.sbte { background-color: #528ac7; }
.smol { background-color: #006db6; }

.hide {
    background-color: #bbb;
}

h1 {
    margin-top: 40px;
    margin-bottom: -5px;
    border-bottom: 1px solid black;
}
h1 b {
    color: #9bc;
}

a, a:visited {
    text-decoration: none;
    color: #c40;
}
a:hover, a:active {
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
}


.accordion + .panel {
    border: 0;
    border-radius: 0 0 12px 12px;
    padding: 0 18px;
    background-color: #ccd8e2;
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, border 0.4s ease-out 0.1s;
}
.openaccordion + .panel {
    border-top: 1px solid #444;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.t100 {
    width: 100%;
    border-collapse:collapse;
}

table.sumtab {
    border-collapse:collapse;
}

.hoverable:hover {
    background-color: #ee6 !important;
}

.sumtab th {
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}
.sumtab tr td {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}
.sumtab tr:nth-child(even) {
    background-color: #eee;
}


.msg {
    display: block;
    border-bottom: 1px solid #aaa;
    padding: 4px 3px;
}
.DEBUG {
    color: #999;
}
.INFO {
    color: #333;
}
.WARNING {
    color: #750;
}
.ERROR {
    color: #c40;
}


td {
    vertical-align:top;
}
.cytograph_controls {
    border: 1px solid black;
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), inset 0 6px 20px 0 rgba(0,0,0,0.19);
    vertical-align:top;
}
.cytograph_controls a {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 3px 12px;
    display: inline-block;
}
.cytograph_controls a:hover {
    text-decoration: none;
    border-color: #fff;
    background-color: #c40;
    color: #fff;
    cursor: pointer;
}
.cytograph {
    border: 1px solid #444;
    height: 300px;
    width: 99%;
    background-color: #fff;
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), inset 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cytograph_kg {
    border: 1px solid #444;
    height: 700px;
    width: 99%;
    background-color: #fff;
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), inset 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cytograph_q {
    border: 1px solid #444;
    height: 280px;
    width: 80%;
    background-color: #fff;
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), inset 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fieldname {
    font-weight: bold;
    text-transform: capitalize;
}

.attvalue {
    font-size: 15px;
    font-weight: bold;
}

.questionBox {
    margin: 4px;
    padding: 6px;
    border: 2px solid black;
    vertical-align: baseline;
}

.button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #047;
    color: #fff;
    transition-duration: 0.2s;
}
.button:hover {
    cursor: pointer;
    background-color: #9bc;
    color: #333;
}
.button:disabled {
    cursor: unset;
    background-color: unset;
    color: unset;
}

.qgmenu {
    position: relative;
    right: 25%;
    top: 11px;
    float: right;
}
.qgbutton {
    border:1px solid #000;
    color:#000;
    padding: 5px;
}
.qgbutton:hover {
    cursor: pointer;
    background-color: #9bc;
    color: #333;
}

.qnodeid {
    float: right;
    background: #ff0;
    border: 3px solid #f80;
    padding: 5px 20px;
    margin-top: -8px;
    margin-right: -5px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.qedgeid {
    display: inline;
    background: #f80;
    border: 3px solid #f80;
    color: #fff;
    padding: 5px 20px;
    margin-right: -5px;
}

.wfpanel {
    width: 41%;
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    margin-right: 10px;
}
#wflist {
    padding-left: 0px;
    list-style-position: inside;
}
.wflistitem {
    background-color: #047;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    margin: 5px 10px;
    transition: border .1s;
}
.wflistitemselected {
    background-color: #9bc;
    color: #333;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px;
    margin: 5px 10px;
    transition: border .1s;
    font-weight: bold;
}
.wflistitemselected:before {
    content: ' \279C ';
    float: right;
}
.wflistitem:hover {
    background-color: #9bc;
    color: #333;
}

.essence {
    font-weight: bold;
    color: #e98300;
}

.error {
    font-weight: bold;
    color: #c40;
}


.tiny {
    font-size: 10px;
    color: #888;
}
.blue {
    color: #047
}

.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .2s;
  transition: .2s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #047;
}

input:focus + .slider {
  box-shadow: 0 0 1px #047;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.alertbox {
    box-shadow: 0 6px 8px 0 rgb(0 0 0 / 30%);
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 100;
    min-width: 500px;
    color: #fff;
    background-color: rgba(221,221,221,0.7);
    border: 2px solid #002664;
    padding: 40px;
}


.tooltip {
    position: relative;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: zoom-in;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(85,150,208,0.95);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #000;
    box-shadow: 0 6px 8px 0 rgb(0 0 0 / 30%);
    top: 100%;
    right: -100px;
    white-space: nowrap;
    position: absolute;
    z-index: 3;
    max-height: 400px;
    min-width:  450px;
    overflow-y: auto;
    scrollbar-color: #c40 transparent;
    scrollbar-width: thin;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip:hover::after {
    content: " ";
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltiptext::-webkit-scrollbar {
    width: 7.5px;
}
.tooltiptext::-webkit-scrollbar-thumb {
    background: #c40;
}

.shake {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
